:root{
    --branco: #ffffff;
    
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f8f8;
    font-family: 'Times New Roman', Times, serif;
    color:#000000
}

header .container{
    display:flex;
    align-items:center;
    justify-content:space-between; /* espaçou o h1 e o nav*/
    font-family: sans-serif;
}

header{
    background-color: #000000;
}

header .container .logo{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    align-items: center;
}

header .container .logo img{
    margin-right: 20px;
}

header .container .logo{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

header nav{
    margin-right: 20px;
}



header nav button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.0);
    font-size: 15px;
    cursor: pointer;
    border: none;
    color:white;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: 'Segoe UI';
    
}

header nav button:hover{
    background-color: rgb(250, 74, 74);
}

.filme-principal{
    background-color: #a52525;
    display: flex;
    height:490px;
    box-shadow: 0 10px 10px  #14141463;
    /*font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/dorama-principal.jpg');
    height:500px;
    background-size:70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:right;
    align-items:center;*/
}
.filme-principal .container{
    margin-top: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: 200;
    margin-left: 45px;
    background-color: #a52525;
   
}
.filme-principal .descricao{
    margin-bottom: 40px;
    width: 80%;
    
}

.titulo{
    font-size: 40px;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    border: none;
    background-color: #141414;
    color:white;
    padding: 15px 30px;
    font-size: 1rem;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 10px 10px  #1414146b;
}
.button:hover{
    background-color:#feffff;
    color: #141414;
}

.container{
    background-color: #000000de;
}

.busca{
    flex-direction: column;
    background-color: #1f1f1f;
}

.busca button{ 
    margin-top: 30px;
    text-decoration: none;
    border: none;
    background-color: #0000009f;
    color:#feffff;
    font-family: 'Trebuchet MS';
    padding: 8px 13px;
    border-radius: 10px 10px 10px 10px;
}

.busca .titulo button{
    font-size: 20px;
    margin-left: 40%;
    text-align-last:left;
    padding: 18px 28px;
}

.busca .titulo button i{
    margin-right: 5px;
}

.busca .botoes{
    margin-left: 90px;
    
}

.busca .botoes button{
    margin-right: 5px;
    font-size: 15px;
    background-color: #c93131;
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: 0 10px 10px  #141414e5;
}

.titulo i{
    margin-right: 6px;
    margin-left: 6px;
}

.favoritos button{
    margin-top: 40px;
    background-color: #000000;
    color:#feffff;
    font-family: 'Trebuchet MS';
    border-radius: 10px 10px 10px 10px;
    text-align-last:left;
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 40%;
    padding: 18px 36px;
}
.favoritos button i{
    margin-right: 6px;
    margin-left: 6px;
}

.carrosel-filmes{
    margin-left: 45px;
    margin-right: 20px;
}

.carrosel-filmes figcaption{
    font-size: 20px;
    font-family: 'Trebuchet MS';
    text-align-last: center;
    margin-top: 10px;
}

 


