:root{
    --vermelho:#E50914; 
    --preto: #141414;
    
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color:#ffffff
}

header .container{
    display:flex;
    align-items:center;
    justify-content: space-between; /* espaçou o h1 e o nav*/
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    margin-left: 20px;
    font-family: sans-serif;
}


header nav a{
    text-decoration: none;
    color: rgb(131, 131, 131);
    margin-right: 15px;
}
header nav a:hover{
    color: #ffff;
}

.filme-principal{
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/houseofcards.jpg');
    height:400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    width: 70%;
}

.titulo{
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    border: none;
    background-color: rgba(0,0,0,.50);
    color:white;
    padding: 15px 30px;
    font-size: 1rem;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.button:hover{
    background-color:#feffff;
    color: #141414;
}
.fa-solid fa-play{
    color: #feffff;
}

.button i{
    margin-right: 6px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

